@import "../../../../styles/shared/index.scss";

.product-list {
    &__heading {
        @include text-display-1000;
        color: $rose-900;
    }

    &__inner {
        display: grid;
        grid-template-columns: 1fr;
    }
}