@import "../../../../styles/shared/index.scss";

.empty-cart {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__svg {
        height: 128px;
        width: 128px;
    }

    &__text{
        @include text-body-500;
        color: $rose-500;
    }
}