@import "../styles/shared/index";

main {
    background-color: $rose-50;
    padding: 24px;

    @include tablet-up {
        padding: 40px;
    }

    @include desktop-up {
        padding: 88px 112px;
    }
}